@import "bootstrap/mixins";

body.home  {
    margin: 0;

    .page-wrap {
        background-color: $font-secondary-color;
    }

    .page-search-container {
        background-color: $bg-color;
        border: 1px solid #fff;
        padding: 10px;
        color: #fff;

        select {
            border-radius: 0;
        }

        input {
            border-radius: 0;
            background-color: #257593;
            color: #fff;
        }

    }
}

section.apartment {
    padding: 0 5px;

    article {
        background-color: #fff;
        margin: 10px 0;
        border: 3px solid darken($font-secondary-color, 15%);

        & > header {
            color: $font-secondary-color;
            padding: 5px 10px;
            font-size: 1.3em;
            @include clearfix();

            .apartment-price {
                margin-right: 10px;
            }

            a.btn {
                $link-color: darken(#fff, 10%);
                font-size: 14px;
                margin: 5px;
                background-color: $bg-color;

                &:link, &:active, &:focus, &:visited {
                    color: $link-color;
                }

                &:hover {
                    color: $link-color;
                    text-decoration: underline;
                }

                .glyphicon {
                    color: $link-color;
                }
            }
        }

        .apartment-body {

            .apartment-specification-container {
                text-align: center;

                .apartment-specification {
                    border: 1px solid $font-secondary-color;
                    padding: 0;
                    width: 80px;
                    margin: 10px 5px 0;
                    display: inline-block;

                    .title {
                        background-color: $font-secondary-color;
                        text-align: center;
                        padding: 0 5px;
                        color: #fff;
                        font-size: 0.8em;
                    }

                    p {
                        text-align: center;
                        font-size: 0.9em;
                        margin: 0;
                    }
                }
            }

            .apartment-excerpt {
                margin: 20px auto;

                a.btn {
                    margin: 5px 10px 0;
                }
            }

        }

        .apartment-image {
            text-align: center;
            padding: 10px 0;

            img {
                margin: 0 auto;
                /*width: 200px;
                height: 200px;*/
            }
        }

        & > footer {
            padding: 10px;
            text-align: center;

            a.btn {
                $link-color: darken(#fff, 10%);
                font-size: 14px;
                margin: 5px;
                background-color: $bg-color;

                &:link, &:active, &:focus, &:visited {
                    color: $link-color;
                }

                &:hover {
                    text-decoration: underline;
                }

                .glyphicon {
                    color: $link-color;
                }
            }
        }
    }
}


@include breakpoint(xs) {

    section {
        padding: 0;

        article {

            & > footer {
            }

        }
    }
}

@include breakpoint(sm) {


}

@include breakpoint(md) {


}

@include breakpoint(lg) {

}
